body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  padding: 20px;
}

/* scrollbar customization    */

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff !important;
}

::-webkit-scrollbar-thumb {
  background: #20252b !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c333b !important;
}

/* end scrollbar customization  */